<div class="playlist-container mx-auto p-4 max-w-7xl">
    <h2 class="text-3xl font-semibold mb-8 text-center text-gray-800">Saved Playlists</h2>
  
    <div *ngFor="let playlist of playlists" class="card-container mb-8">
      <mat-card class="playlist-card bg-white border rounded-lg shadow-lg overflow-hidden transform hover:scale-105 transition-all duration-300">
        <div class="flex items-center p-4 space-x-4">
          
          <img *ngIf="playlist.details" mat-card-image [src]="playlist.details?.image_url || '/assets/default-cover-image.jpg'" alt="Playlist image" class="w-24 h-24 object-cover rounded-lg shadow-md" />
          
          <div class="flex-1" *ngIf="playlist.details">
            <!-- Flex container to justify space between title and button -->
            <div class="flex justify-between items-center bg-gray-800 text-white p-2 rounded-md">
              <mat-card-header class="p-0">
                <mat-card-title class="text-2xl font-bold">{{ playlist.details?.name }}</mat-card-title>
              </mat-card-header>
               <div class="flex space-x-2">
                <button mat-icon-button (click)="openEditDialog(playlist)" class="text-white">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="openDeleteDialog(playlist)" class="text-white">
                  <mat-icon>delete</mat-icon>
                </button>
               </div>
            </div>
  
            <mat-card-content class="mt-2">
              <p class="text-gray-600 text-sm">
                <strong>Genres:</strong> {{ playlist.genre_names.join(', ') }}
              </p>
            </mat-card-content>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  